<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/ground.css">
    <title>地面</title>
</head>
<body>
 <div id="body">
     <div class="banner">
         <img src="img/1396401982533b673eb6448.png" alt="" v-if="index==0 || index==1">
         <img src="img/1396401982533b673eb64482.png" alt="" v-if="index==2">
     </div>
     <div class="con">
         <div class="row tab">
             <div :class="index==0?'active':''" class="tab_one" @click="index=0">瓷砖地面</div>
             <div :class="index==1?'active':''"  class="tab_one" @click="index=1">木地板地面</div>
             <div :class="index==2?'active':''"  class="tab_one" @click="index=2">大理石地面</div>
         </div>
         <div class="">
             <ul v-if="index==0">
                 <li>
                     <a href="ordinary_tiles.html">
                     <div class="row"> 
                         <div class="left">
                                <div class="title">普通瓷砖</div>
                                <div>普通瓷砖使用说明以及基本使用</div>
                         </div>
                         <div class="right">
                             <img src="img/ground1.png" alt="">
                         </div>
                     </div>
                     </a>
                 </li>
                 <li>
                     <a href="ground/waterproof.html">
                        <div class="row"> 
                            <div class="left">
                                   <div class="title">防水+瓷砖</div>
                                   <div>防水+瓷砖使用说明以及基本使用</div>
                            </div>
                            <div class="right">
                                <img src="img/ground2.png" alt="">
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="ground/floor_heat.html">
                            <div class="row">
                                <div class="left">
                                       <div class="title">地暖+瓷砖</div>
                                       <div>地暖+瓷砖使用说明以及基本使用</div>
                                </div>
                                <div class="right">
                                    <img src="img/ground3.png" alt="">
                                </div>
                            </div>
                        </a>
                        </li>
             </ul>
             <ul v-if="index==1">
                    <li>
                        <a href="ground/wood_intro.html">
                            <div class="row"> 
                                <div class="left">
                                       <div class="title">木地板铺设介绍</div>
                                       <div>木地板可分为龙骨铺设和 悬浮铺设…</div>
                                </div>
                                <div class="right">
                                    <img src="img/ground1.png" alt="">
                                </div>
                            </div>
                            </a>
                        </li>
             </ul>
             <ul v-if="index==2">
                    <li>
                        <a href="ground/dali_ground.html">
                            <div class="row"> 
                                <div class="left">
                                       <div class="title">大理石地面介绍</div>
                                       <div>大理石地面使用说明及基本构成</div>
                                </div>
                                <div class="right">
                                    <img src="img/dali.png" alt="">
                                </div>
                            </div>
                        </a>
                        </li>
             </ul>
         </div>
     </div>
     <div class="problem">
         <div class="pro_title row center">
             <div class="circle"></div>
             <div>常见问题</div>
             <div class="circle"></div>
         </div>
         <div v-if="index==0">
            <pro1></pro1>       
         </div>
         <div v-if="index==1">
             <pro2></pro2> 
        </div>
        <div v-if="index==2">
            <pro3></pro3>             
        </div>
         
     </div>
 </div>   
</body>
</html>
<script src="http://www.necta.online/js/vue.min.js"></script>
<script src="js/problem.js"></script>
<script>
new Vue({
    el:'#body',
    data:{
       index:0
    },
    
})
</script>