<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/base.css">
    <title>瓷砖如何选购</title>
</head>

<body>
    <div id="body">
        <div class="banner">
            <img src="../img/1396401982533b673eb6448.png" alt="">
        </div>
        <div class="content">

            <div class="pro_title row center title">
                <div class="circle"></div>
                <div>概述</div>
                <div class="circle"></div>
            </div>
            <div class="txt" :class="open?'':'txt_open'">
                
                瓷砖比较成熟，品牌商的合格产品质量没有问题，小品牌就需要留意判断。瓷砖来源于土，动辄几倍于成本的的价格常见，同一品牌不同销售商价格差价翻倍也有，价格虚高比较多，应在选择花色的基础上多进行比价 ，总体上还是一分价一分货，花色漂亮，仿大理石仿的越逼真价格就越贵；瓷砖计价以片计，平米报价才能更直观的比较价格。计量方式为：1/(长x宽）然后取整（往上靠）
                <div>举例</div> 
                <div>300x300,每平米用量为1/(0.3*0.3)=11.11,取整11.2片 300x600，每平米用量为1/(0.3*0.6)=5.55,取整5.6片 600x600,每平米用量为1/(0.6*0.6)=2.77,取整2.8片 腰线为腰线长度除腰线砖的长度，不再举例 购买数量则在实际平米数基础上增加8%的损耗。</div>
            </div>
            <div>

            </div>
            <div class="row center" v-if="!open" @click="open=true">
                <div class="open_txt">展开</div>
                <div class="triangle"></div>
            </div>
            <div class="row center" v-if="open" @click="open=false">
                    <div class="open_txt">收起</div>
                    <div class="triangle2"></div>
            </div>
            


        </div>
        <div class="divide">

        </div>
        <div class="content">
            <div class="pro_title row center title">
                <div class="circle"></div>
                <div>如何选购</div>
                <div class="circle"></div>
            </div>
            <div>
                <div class="con_one">
                    <div class="head bot10">
                        1.美观性
                    </div>
                    <div class="t2">
                        有钱难买我乐意，挑选自己喜欢的。表面光洁无瑕疵，45度看面，能比较容易看出瑕疵，表面越亮越好。色差小，瓷砖批次不同会有色差，色差不会太明显，如果您比较敏感，那尽量采购略多。
                    </div>
                </div>
                <div class="con_one">
                        <div class="head bot10">2.实用性</div>
                        <div class="t2">
                            厨卫注意防滑，洒水前后均要有摩擦力，防滑性能也可看检测报告，摩擦系数0.5以上属于安全，0.8以上为非常安全。
                        </div>
                        <img src="../img/cc.png" alt="">
                        <div>如选购凸凹不平的防滑砖，日后难打理藏污纳垢 </div>
                        <div>综合耐磨 、美观、防滑等特性列出瓷砖适用区域</div>
                        <div>门厅-抛光砖、玻化砖 </div>
                        <div>厨卫-釉面砖、仿古砖、马赛克</div>
                        <div>客厅-釉面砖、抛光砖、玻化砖、微晶石</div>
                        <div>卧室-釉面砖、抛光砖、玻化砖、微晶石</div>
                        <div>阳台-釉面砖、仿古砖、通体砖</div>
                </div>
                <div class="con_one">
                    <div class="head bot10">3.价格</div>
                    <div class="t2">
                            中档性价比高，货比多家。品牌厂家工艺几乎无差别，没必要一定追求高端，高端价格高主要原因在花色。广东砖（佛山）最出名也是厂商聚集地，时代的发展，各地品牌工艺差距不大。铺装方法会造成铺装人工费的剧增，比如斜铺，小砖比如马赛克也会增加人工费。隐蔽砖非常便宜，主要用于看不到的地方，比如橱柜后侧，但要留意面积及位置，不要出现偏差，否则没遮住就太难看了。正常来说微晶砖的价格最贵，然后是釉面砖（瓷基），再其次是抛光砖，最低的就是瓷片（釉面陶基质地松软）。 
                    </div>
                </div>
                <div class="con_one">
                        <div class="head bot10">4.规格大小</div>
                        <div class="t2">
                            <span class="bold">客厅瓷砖：</span>一般规格为1000*1000、800*800、 600*600，家装800更为常用，600适合小户型及走廊铺贴。     
                        </div>
                        <div class="t2">
                            <span class="bold">厨房砖：</span>规格常用600*300、450*300普通家装更多使用600*300瓷砖 
                        </div>
                        <div class="t2">
                            <span class="bold">卫生间（阳台）砖：</span>墙砖多使用600*300，地面建议使用300*300或更小。因洗手间地面需要进行排水坡度处理，如瓷砖大，无法做到好的排水效果。 
                        </div>
                    </div>
                <div class="con_one">
                        <div class="head bot10">5. 质量</div>
                        <div class="f18">1.平整度</div>
                        <img src="../img/c1.png" alt="">
                        <div class="t2">
                                两砖面对面叠合，看缝隙大小及是否均匀，如果砖缝小且缝隙大小从头到尾几乎无变化，说明平整度好，铺墙地面的时候就不会有凸凹，人走上去不会绊脚，墙面不会积灰。一般大品牌都没问题。 
                        </div>
                        <div class="f18">2.平面尺寸误差</div>
                        <img src="../img/c2.png" alt="">
                        <div class="t2">
                                四块砖平铺后观察彼此之间的缝隙，缝隙越小说明平面尺寸误差越小，砖质量越高，最终反映在墙地面瓷砖拼缝美观对齐，差的瓷砖偏差大，就会给后来的施工造成困难而且很难对缝。一般大品牌都没问题。 
                        </div>
                        <div class="f18">3.防污性</div>
                        <img src="../img/c3.png" alt="">
                        <div class="t2"> 四块砖平铺后观察彼此之间的缝隙，缝隙越小说明平面尺寸误差越小，砖质量越高，最终反映在墙地面瓷砖拼缝美观对齐，差的瓷砖偏差大，就会给后来的施工造成困难而且很难对缝。一般大品牌都没问题。 </div>
                        <div class="f18">4.耐磨性</div>
                        <img src="../img/c4.png" alt="">
                        <div class="t2">
                                金属硬物（钥匙等）用力划看划痕情况，一般来说合格的瓷砖均能通过此项检查。一般家庭使用情况耐磨性问题均不大，餐厅会有餐桌及椅子移动的情况使用耐磨性更强的瓷砖品种更佳。如果为了美观选用了耐磨性略差的品种可以增加桌椅护套稍加保护也没有问题。用硬度更高的瓷片互划我们认为没有必要，不是鉴定钻石，满足日常使用就可以了，没必要太较真，而且瓷片容易伤手。 
                        </div>
                        <div class="t2"> 也可以查看检测报告或包装，耐磨性等级划分为（0～5）六个等级，0级不适铺设地面，5级耐磨性最高，1到4级都可用于家庭装修铺设。够用就好，不宜盲目追求耐磨性，耐磨性高的通体砖美观就差点。 </div>
                        <div class="f18">5.抗折性</div>
                        <img src="../img/c5.png" alt="">
                        <div class="t2"> 一侧支撑站人测试抗折性能，品牌瓷砖都没问题，不要用放手砖倒下的方式测试，砖倒下时形成气垫，测试不出效果。就是直接悬空踩，空着踩不坏且变形小的是好砖，将来铺地面实心基层多少年也不会坏。 </div>
                        <div>密度、瓷化度（听或洒水）</div>
                        <img src="../img/c6.png" alt="">
                        <div class="t2"> 打地基当然把地基土夯的密实好，瓷砖密度大，磁化程度高，洒水后水扩散的慢甚至不吸水，就是好。吸水少说明密度大磁化程度高，敲击声音就会脆。有人说这种方法只适用厨卫砖比较，其他砖不能说吸水快就是不好的，市场里去看看，不管釉面砖、抛光砖、玻化砖都比陶基瓷片好，磁化程度密度都比瓷片高，以前厨卫用瓷片的多，基层为陶的瓷片吸水快，其他瓷基的砖质量就是高于陶基的瓷片。 </div>
                        <div>包装</div>
                        <img src="../img/c7.png" alt="">
                        <div>辐射A类要求，一般品牌商都没问题。 </div>
                        <img src="../img/c8.png" alt="">
                        <div>适用范围说明</div>
                        <img src="../img/c9.png" alt="">
                        <div>3C认证及企业认证标准 </div>
                        <div class="f18">6.服务 </div>
                        <div class="t2">选购时还应注意服务，瓷砖少了补，多了退是必然的，退补货要方便，一次免费补还是两次免费补，送货一定要上门而不是楼下，这些服务都要落实到纸面； </div>
                </div>
                
            </div>
            <div>
                <div class="title">为您推荐</div>
                <a href="buy_question.html"><div class="recommend row between bot20">
                    <div class="col around">
                        <div class="bold">瓷砖选购常见的疑问？</div>
                        <div>大砖切小砖可以吗</div>
                    </div>
                    <div class="w40">
                        <img src="img/t1.png" alt="">
                    </div>
                </div></a>
                <a href="tile_type.html">
                <div class="recommend row between bot20">
                        <div class="col around">
                            <div class="bold">瓷砖的分类及特点</div>
                            <div>瓷砖可以分为多少种类呢？</div>
                        </div>
                        <div class="w40">
                            <img src="../img/t2.png" alt="">
                        </div>
                    </div></a>
            </div>

        </div>
    </div>
</body>

</html>
<script src="http://www.necta.online/js/vue.min.js"></script>
<script src="../js/problem.js"></script>
<script>
        new Vue({
            el:'#body',
            data:{
               open:false
            },
            
        })
        </script>